# Inferential Statistics
    -Inferential Statistics allow you to make prediction from a data(sample)

## Hypothesis Testing
### Null Hypothesis
    -Sample Mean is equal to similar Mean

### Empirical Rule
    68% = mean +-1 std
    95% = mean +-2 std
    99.7% = mean +-3 std

# lets us take a situation 
In a dairy milk production company.All the machines are set to produce a 5gms of weight.
After a 2 months of lockdown an employer of an claims that machines are producing less weight(less than 5gms)
As a manager we need to check that by Statistical mean
As a manager you took last 50 dairy milk and calculated its weight and its mean

population mean =5 gms

population std=0.1 gms(it means both 5.1 and 4.9 weight are accepted)

and we took sample of 20 dairy milks
[5.03,4.98,4.83,4.89,4.96,5.12,5.01,5.11,4.95,5.07,4.92,4.89,5.21,5.03,4.98,5.00,4.88,5.13,5.02,4.90]

In [3]:
import numpy as np
from statsmodels.stats.weightstats import ztest

In [5]:
sample=[5.03,4.98,4.83,4.89,4.96,5.12,5.01,5.11,4.95,5.07,4.92,4.89,5.21,5.03,4.98,5.00,4.88,5.13,5.02,4.90]
len(sample)

20

In [4]:
popmean=5
popstd=0.1

In [8]:
# Ztest gives zscore and pvalue
zscore,pvalue=ztest(sample,value=popmean)
print(zscore)
print(pvalue)

-0.20500576295418665
0.8375676224666544

### Zscore
if business confidence ,CI=95%
by empirical rule,then the critical value is +-2
zscore is within ciritical value so it accept the null hypothesis

### Pvalue
     alpha= 1-0.95 =0.05
     if pvalue > alpha == Accept the null hypothesis(population mean and sample mean are same)
     if pvalue < alpha == Reject the null hypothesis
     here pvalue is greater than alpha so it accept the null hypothesis

### Conclusion
     Both population mean and sample mean are same so we conclude that machine is working properly

# ANOVA
## One way anova

used to compare the mean of two or more samples

lets take a problem.
We need to compare the furniture sales for all the shop North,East,west,south (we have shop in four direction,so we took direction name instead of shop name)

In [2]:
#import pandas for data analysis
import pandas as pd
#import stats from sklearn for our problem analysis(to compare the mean of two or more samples)
from scipy import stats

In [4]:
#read excel
df=pd.read_excel(r"C:\Users\Rahul\Downloads\Sales.xlsx")
df

   North  South  West  East
0      9      5     8     5
1      6      3     5     5
2      5      6     4     4
3      4      8     6     5
4      9      7     2     2
5      3      4     2     8
6      2      4     8     3
7      8      9     6     8
8      5      5     4     8

In [6]:
stats.f_oneway(df['North'],df['South'],df['West'],df['East'])

F_onewayResult(statistic=0.17886178861788618, pvalue=0.9099452203346734)

if our bussiness confoidence is CI=95% 
then,alpha=1-0.95=0.05

if pvalue is greater than alpha then it accept the null hypothesis,so all shop have nearly a same sales

In [16]:
for i in df.columns:
    print(df[i].mean())

5.666666666666667
5.666666666666667
5.0
5.333333333333333